<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<startup>
	  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<entityFramework>
	  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
		<parameters>
		  <parameter value="mssqllocaldb" />
		</parameters>
	  </defaultConnectionFactory>
	  <providers>
		<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
	  </providers>
	</entityFramework>
	<connectionStrings>
	  <add name="CadastrBeninDB" connectionString="metadata=res://*/CadastrBeninDBModel.csdl|res://*/CadastrBeninDBModel.ssdl|res://*/CadastrBeninDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=CadastrBenin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<runtime>
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
		  <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
		  <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
		</dependentAssembly>
		 <dependentAssembly>
			<assemblyIdentity name="DotSpatial.Topology" publicKeyToken="a66b5e9434ca3671" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
		 </dependentAssembly>
		 <dependentAssembly>
			<assemblyIdentity name="DotSpatial.Serialization" publicKeyToken="441f200f827611e7" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
		 </dependentAssembly>
		 <dependentAssembly>
			<assemblyIdentity name="DotSpatial.Mono" publicKeyToken="425ba4de41127026" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
		 </dependentAssembly>
	   <dependentAssembly>
	    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
	    <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
	   </dependentAssembly>
	  </assemblyBinding>
	</runtime> 
</configuration>