<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="DotSpatial.Data" version="1.9" targetFramework="net452" />
  <package id="DotSpatial.Mono" version="1.5.1" targetFramework="net452" />
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net452" />
  <package id="DotSpatial.Serialization" version="1.0.0.0" targetFramework="net452" />
  <package id="DotSpatial.Topology" version="1.0.0.0" targetFramework="net452" />
  <package id="Fody" version="2.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
  <package id="PropertyChanged.Fody" version="1.53.0" targetFramework="net452" developmentDependency="true" />
</packages>